@use "./frongtpageshop/shopgrid.scss";
@use "./hero.scss";
@use "./brand.scss";
@use "./contact.scss";

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Heebo", sans-serif;
}
