.topnav {
  padding: 1em;
  justify-content: right;
  background-color: black;
  border-bottom: solid 1px #413a27;
  align-items: center;
  display: flex;
  gap: 2em;

  p {
    font-size: 2rem;
    color: white;
    align-items: center;
    display: flex;
  }

  &__button {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    gap: 1rem;
    padding: 0.5em;
    background-color: #1ba4f3;
    border: none;
    border-radius: 5px;

    &-email {
      font-size: 1.5rem;
    }
  }

  &__black-line {
    color: grey;
  }
}

.navbar {
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1.5em;
  display: flex;

  &__list {
    display: flex;
    list-style: none;
    gap: 2em;

    li {
      display: flex;
      align-items: center;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    &:hover {
      color: #a29160;
    }

    &--active {
      color: #a29160;
    }
  }
}

.navlink {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .topnav {
    flex-direction: column;
    gap: 1rem;
    padding: 0.5em;

    p {
      font-size: 2rem;
    }

    &__button {
      font-size: 1.2rem;
      padding: 0.4em;
      gap: 1rem;

      &-email {
        font-size: 1.5rem;
      }
    }
  }

  .navbar {
    justify-content: start;
    padding: 2em;
    font-size: 1.2rem;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
      text-align: center;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      &.open {
        opacity: 1;
        height: 100%;
        margin: auto;
        padding: 1em 0;
      }
    }

    li {
      margin: 0.2em;
    }
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    cursor: pointer;
  }

  .burger-bar {
    width: 2.5rem;
    height: 0.3rem;
    background-color: white;
    transition: all 0.3s ease-in-out;

    &.open:nth-child(1) {
      transform: rotate(45deg) translate(0.7rem, 0.7rem);
    }

    &.open:nth-child(2) {
      opacity: 0;
    }

    &.open:nth-child(3) {
      transform: rotate(-50deg) translate(0.6rem, -0.6rem);
    }
  }

  .navlink {
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .topnav {
    padding: 0.3em;

    p {
      font-size: 0.9rem;
    }

    &__button {
      font-size: 1.1rem;
      padding: 0.3em;
      gap: 0.5rem;
    }
  }

  .navbar {
    padding: 2.5em;
    align-items: start;
    font-size: 1.1rem;

    &__list {
      gap: 1.8rem;
    }
  }
}
